


.actividades {

}

.icon {
    color: #4286f4;
    font-size: 40px;
}

.radio {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.bg-facebook {
  background-color: #3b5998;
}

.fab {
    color: white;
}

.fa-facebook-f {
    color: white;
}

.btn-icon-left {
    color: white;
}

.bg-twitter {
    background-color: #00aced;
}


 &.active,
      &:hover {
        color: #fff;
        background-color: transparent;

      }

.beinvenida {
    margin-top: 300px;
    color: white;
}

.form {

}
.full-width {
  width: 100%;
}

.img {
    background: url(Recursos/fondo-01.png);
    background-size: 150%;
    background-repeat: no-repeat;
    height: 1100px;


}

.fondo {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    background-repeat: no-repeat;
}

.registration-login-form {
    background-color: white;
    padding: 50px;
    border-radius: 25px;
}

.nav-item {
    width: 50%;
}

.btn-purple {

}

.boton {
    background-color: #ffb71c;
    color: white;
}


.logo {
    height: 40px;
    width: 210px;
}



.fondo2 {
    background: url(Recursos/city-01.png);
    height: 1000px;
    background-size: 100%;
    background-repeat: no-repeat;
}



.font {
    font-family: 'Lato', sans-serif;
    margin-top: 350px;
}



.1 {
    width: 180px;
}



.ciudad {
    width: 150px;
}



.select {
    width: 300px;
    margin-left: 250px;
}

.conten {
    margin-top: 50px;
    margin-right: 80px;
}

.left {
    margin-right: 300px;
}

.facebook {
    background-color: #3B5998;
    color: white;
}

.btn1 {
    width: 350px;
    background-color: white;
    color: gray;
}

.margin {
    margin-left: 200px;
}

.bg {
    width: 350px;
}

.dropdown-menu {
    width: 270px;


}

.back {
    background-color: rgb(252, 183, 45)
}

#map {
    width: 100%;
    height: 700px;
}

.planes {
    height: 600px;
}

.card {
    height: 500px;
    width: 811px;
    align-content: flex-start;


}

.card-img-top {
    background-size: 100%;
}



.profile {
   width: 30px;
    height: 30px;

}

.back-logo {
    background-color: rgb(255, 191, 15);
    width: 450px;
    height: 79px;
    margin-top: -15px;
    margin-left: -20px;
    margin-bottom: -9px;

}

.navbar-brand {

}

.5 {
    margin-top: 5px;
    margin-left: 10px;
}



.login1 {
    font-size: 30px;

}

.color {
    color: black;
}

.icons {
    color: #ffbf0f;
}

.top {
    margin-top: 8px;
}

.back-acount {
    background-image: url(Recursos/panoramic-landscape-2305606_1920.jpg);
    height: 700px;
    background-repeat: no-repeat;
    background-size: 150%;
}

.titulo {
    color: white;
    margin-top: 120px;
}

.text {
    align-content: center;
    color: white;
}

.btn {

}

.card-header {

}

.footer {
    margin-top: 30px;
}

.card-body {
   padding-bottom: 500px;


}

.password {
    margin-top: 20px;
}

.user {
    background-color: transparent;
}

.fig {
    font-size: 40px;
    color: #f7c42a;
}

.logo1 {

    background-size: 400px;
}

.p {
    color: white;
}

.dropdown-toggle {
    color: white;
    padding-top: 3px;
}

.backward{
    color: #25f476;
    font-size: 40px;
}

.liked{
    color: #4286f4;
    font-size: 40px;
}

.rejected{
    color: #f46d47;
    font-size: 40px;
}

#icons-row{
    text-align: center;
}

.boxmodel{
    text-align: center;
    width: 700px;
    height: 500px;
    background-color: lightgrey;
    border: 3px solid #f45400;
}